# Ignore everything
/*

# Except what is useful for the repository
!/data
/data/*/
!/docs
!/img
!/src
/src/*egg-info
!.gitignore
!build.sh
!dev_env.yaml
!pyproject.toml
!CHANGELOG.md
!LICENSE
!README.md
